
<section class="mt-10 mb-10">
    <div class="flex flex-wrap -mx-2 overflow-hidden">

        <!-- First Column -->
        <div class="my-2 px-2 w-full md:w-1/2 overflow-hidden">
            <div class="bg-teal-100 p-6 rounded-lg shadow-md">
                <h2 class="text-gray-500 text-sm">{{format_time 0.createdAt}}</h2>
                <h1 class="text-black text-xl mt-2 mb-4">
                    <a href="/post/{{0.id}}" class="hover:underline">{{0.title}}</a>
                </h1>
                <p class="text-gray-800">{{format_summary 0.content}}</p>
            </div>
        </div>

        <!-- Conditional Second Column -->
        {{#if 1.title}}
        <div class="my-2 px-2 w-full md:w-1/2 overflow-hidden">
            <div class="bg-teal-100 p-6 rounded-lg shadow-md">
                <h2 class="text-gray-500 text-sm">{{format_time 1.createdAt}}</h2>
                <h1 class="text-black text-xl mt-2 mb-4">
                    <a href="/post/{{1.id}}" class="hover:underline">{{1.title}}</a>
                </h1>
                <p class="text-gray-800">{{format_summary 1.content}}</p>
            </div>
        </div>
        {{/if}}
    </div>
</section>


