
{{!-- <link rel="stylesheet" href="https://unpkg.com/@splidejs/splide@3.0.7/dist/css/splide.min.css" /> --}}

{{!-- <script src="https://unpkg.com/@splidejs/splide@3.0.7/dist/js/splide.min.js"></script> --}}


<section class="keen-slider">
  <div class="keen-slider__slide number-slide1 flex items-center justify-center" style="background-color: white;">
    <!-- Set the background color to white -->
    <div class="flex flex-col justify-center items-center h-full text-center p-10 bg-white">
      <!-- Set the background color to white and remove opacity -->
      <img src="../images/logo.png" alt="Logo" style="width: 400px; height: 100px;" class="mb-6" />
      <!-- Adjust the margin-bottom to provide spacing -->
      <h2 class="text-4xl font-bold mb-6 text-black">Welcome to Our Community</h2>
      <p class="text-xl mb-8 text-black">Join us and stay updated with the latest news.</p>
      <a href="/sign-up"
        class="text-lg font-bold py-3 px-6 bg-blue-500 text-white rounded hover-bg-blue-700 transition duration-300 ease-in-out mb-8">Sign
        Up</a>
    </div>
  </div>
</section>

<!--latest member post content section-->
<div class="flex items-center justify-center min-h-screen">
  <div class="bg-white p-8 shadow-md rounded-md w-full lg:w-2/3 xl:w-1/2 mx-auto text-center">
    <h2 class="text-2xl font-bold mb-4">Latest Members Posts</h2>
    <div id="postsContainer"></div>
  </div>
</div>

{{!-- Contact Section --}}
<section class="bg-blue-100 py-8 flex justify-center items-center">
  <div class="container mx-auto px-4">
    <div class="text-center mb-6">
      <h2 class="text-xl font-semibold text-gray-800 mb-2">Get in Touch</h2>
      <p class="text-gray-600 text-sm">Questions or contributions? We'd love to hear from you.</p>
    </div>
    <div class="text-center">
      <a href="/contact"
        class="inline-block bg-green-500 text-white font-semibold py-2 px-4 rounded hover:bg-green-600 transition-colors duration-300 mt-4 text-sm">
        Contact Us
      </a>
    </div>
  </div>
</section>

<script src="public/js/slider.js"></script>
<script src="js/homepage.js"></script>