{{!-- <section class="hero has-background-grey-lighter is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form class="box">
                        <div class="field">
                            <label class="label">Email or Username</label>
                            <div class="control has-icons-left">
                                <input
                                    type="email"
                                    placeholder="e.g. bobsmith@gmail.com"
                                    class="input username-input"
                                    required
                                />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input
                                    type="password"
                                    placeholder="*******"
                                    class="input password-input"
                                    required
                                />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <a class="button is-info" href="/signup/">
                                    Sign up
                                </a>
                            </p>
                            <p class="control login-button">
                                <a class="button is-success">
                                    Login
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/login.js"></script> --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other head elements here... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body>
    <section class="h-screen flex items-center justify-center bg-gray-200">
        <div class="bg-white p-8 rounded-lg shadow-md w-96">
            <h1 class="text-2xl font-semibold mb-4">Login</h1>
            
            <div class="mb-4 relative">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="pl-10 pr-4 py-2 w-full border rounded-md" required />
                <span class="absolute left-2 top-2.5 text-gray-500">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>

            <div class="mb-6 relative">
                <input type="password" placeholder="*******" class="pl-10 pr-4 py-2 w-full border rounded-md" required />
                <span class="absolute left-2 top-2.5 text-gray-500">
                    <i class="fas fa-lock"></i>
                </span>
            </div>

            <button class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 w-full rounded-md mb-4 transition">Login</button>

            <p class="text-center">
                Haven't signed up yet? 
                <a href="/signup/" class="text-blue-500 hover:underline">Sign up</a>
            </p>
        </div>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>


