{{!-- This view is a redirect for the user after they have logged out. --}}

<body>
    <section class="h-screen flex items-center justify-center bg-gray-200">
        <div class="bg-white p-8 rounded-lg shadow-md w-96">
            <h1 class="text-2xl font-semibold mb-4">Logged Out</h1>
            
            <div class="p-4 border-t-4 border-blue-400 bg-blue-100 rounded">
                <p class="mb-4 font-semibold">You have been logged out.</p>
                <p>
                    <a href="/" class="text-blue-500 hover:underline">Click here</a> 
                    to return to the homepage.
                </p>
            </div>
        </div>
    </section>
    <script src="/js/logout.js"></script>


